// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
  text-align: center;
  margin-bottom: 50px;
  padding-top: 15px;
}
.row{
  display: flex;
  justify-content: space-around;
}
.col-md-4{
  width:400px;
}
.col-md-8{
  width: 1000px;
}
.schedule{
  font-size: 30px;
  font-weight:900;
}
.border{
  border-bottom: 2px solid gray;
  padding-top: 10px;
}
.table{
  width:100%;
  margin-bottom: 15px;
}
.form-tag-box{
  padding: 10px;
  width: 75%;
  margin-bottom: 5px;
}
.form-tag{
  margin-bottom: 5px;
}
.naiyou-box{
  width: 70%;
  padding: 20px;
  margin-bottom: 5px;
}
.submit{
  margin-top: 20px;
  margin-left: 110px;
}
.submit-box{
  padding: 10px;
  background-color: #3366FF	;
  opacity: 0.8;
  color: white;
}
.submit-box:hover{
  cursor: pointer;
  background-color: #3366FF	;
  opacity: 1;
}
.border-text{
  text-align: left;
  font-weight: 600;
}
header{
  height: 70px;
  width: 100%;
  opacity: 0.5;
  display: flex;
}
.header-left{
  height:100%;
  width:50%;
}
.header-right{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.header-right li{
  list-style: none;
  margin:40px 0 0 150px;
  font-size: 22px;
}
.header-logo{
  height:130px;
  margin-left: 200px;
  display: block;
}
.header-right-ul{
  display: flex;
}
.header-link{
  color: black;
}
.user-calendar{
  font-size: 30px;
  text-align: center;
  font-weight: 800;
}

